* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  line-height: 1.6;
  background-image:linear-gradient(skyblue,violet);
}



.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.hero-section {
  text-align: center;
  padding: 50px 0;
}

.hero-section h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero-section p {
  font-size: 20px;
}

.cta-button {
  display: inline-block;
  background-color: #007BFF;
  color: #fff;
  font-size: 18px;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}

.features {
  margin-top: 50px;
}

.feature {
  text-align: center;
  margin-bottom: 30px;
}

.feature img {
  max-width: 100%;
}

.feature h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.feature p {
  font-size: 16px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}
ul,
nav {
  list-style: none;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.9;
}

a:hover {
  opacity: 1;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  margin: 0 0 1.5rem;
}

i {
  font-size: 1.3rem;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 10px 100px 0;
}

header nav ul {
  display: flex;
}

header nav li {
  margin: 0 15px;
}

header nav li:first-child {
  margin-left: 0;
}

header nav li:last-child {
  margin-right: 0;
}
